

<div data-aos="fade-up" class="container-fluid page_header_style page_header_style_">
    <div class="row">
        <div class="container">
            <div class="row modulesTitle">
                <div class="col-xs-12 text-center">
                    <H2 id="section-5af03723b90c2-title" class="s123-page-header">Contact</H2>
                    <hr class="small">
                    <h4 id="section-5af03723b90c2-slogan"></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" data-aos="fade-up">
    <div class="row text-center">
        <div class="col-md-5" style="text-align: center;">
            <ul class="list-unstyled contact-as-details-container">
                <li>Cairo, Cairo Governorate, Egypt</li>
            </ul>
            <ul class="list-unstyled contact-as-details-container">
                <li>
                    <a dir="ltr" href="tel:999-7777-000">
                        <i class="fa fa-phone fa-fw"></i>
                        999-7777-000
                    </a>
                </li>
                <li>
                    <i class="fa fa-envelope-o fa-fw"></i>
                    <a href="mailto:tempmailmail6@gmail.com">tempmailmail6@gmail.com</a>
                </li>
            </ul>
        </div>
        @using (Ajax.BeginForm("SendEmail", "Home", ajaxOptions: new AjaxOptions { HttpMethod = "POST", OnSuccess = "EmailSent" }, routeValues: new { }, htmlAttributes: new { @class = "contactUsForm", id = "SendMail" }))
        {
            <div class="col-md-6 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="Username" placeholder="Name" class="form-control" required data-msg-required="This field is required.">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="Userphone" placeholder="Phone" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="UserMail" placeholder="Email address" class="form-control" required data-msg-required="This field is required." data-rule-email="true" data-msg-email="Please enter a valid email.">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="Message" placeholder="Message" style="min-height: 100px;"></textarea>
                </div>
                <button type="submit" id="sendEmail" class="btn btn-primary btn-block">Contact Us</button>
            </div>}


    </div>
</div>




