

<div class="parallax-window home-image-bg" data-parallax="scroll" style="background-image:url(../../Images/8016802230_7462eb3b8e_b.jpg)!important;background-position:center !important;background-size:cover  !important;background-repeat:no-repeat  !important">
</div>

<div class="homepage-layout-24 homepage-layout-39 container">
    <h1 id="home_siteSlogan" class="weight400 shadow1   ">Moslah</h1>
    <h2 id="home_siteSlogan_2" class="weight400 shadow1   ">Call: 1-415-819-4941</h2><p id="home_SecondSiteSlogan" class="weight400    ">
        You move on, while we move out!
    </p>
</div>

