<div data-aos="fade-up" class="container-fluid page_header_style page_header_style_">
    <div class="row">
        <div class="container">
            <div class="row modulesTitle">
                <div class="col-xs-12 text-center">
                    <H2 id="section-5af03723c2a73-title" class="s123-page-header">Services</H2>
                    <hr class="small"> <h4 id="section-5af03723c2a73-slogan"></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" data-aos="fade-up">
    <div class="row text-center">
        <div class="col-md-4 col-sm-4 col-centered">
            <div class="service-item">
                <h4>
                    <span class="fa-stack primary-color">
                        <i class="fa fa-subway"></i>
                    </span>
                    <strong><a>Metro</a></strong>
                </h4>
                <p>
                    Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-centered">
            <div class="service-item">
                <h4>
                    <span class="fa-stack primary-color">
                        <i class="fa fa-bus"></i>
                    </span>

                    <strong><a>Buses and MicroBuses</a></strong>
                </h4>
                <p style="word-break:break-word;text-align:center">
                    There are many variations of passages of
                    Lorem Ipsum available,but the majority have.

                </p>
            </div>
        </div>
    </div>
</div>


