

<div class="row" style="margin:0 auto;width:50%;box-sizing:border-box;">
    <div class="col-md-7 " style="background-image:url(../../Images/pexels-photo-58557.jpeg);background-size:cover;height:350px;color:white;padding:0;">
        <div style="background-color:rgba(0, 0, 0, 0.5);height:100%">
            <div style="padding:20px;">
                <p style="font-weight:700;font-size:35px;letter-spacing:5px;" id="lblCityName">Select City</p>

                <p style="font-weight:700;font-size:20px;letter-spacing:5px;" id="lblCountryName">Select Country</p>
            </div>

            <div class="row" style="box-sizing:border-box;position:relative;top:55px;">
                <div class="col-lg-5 col-sm-12" style="padding-left:30px;font-weight:700;font-size:larger;position:relative;top:20px">
                    <p id="Desc">Weather Description</p>
                </div>
                <div class="col-lg-6 col-sm-12" style="position:relative;left:20px">
                    <p style="font-size:80px;position:relative;top:20px"><span id="Temp">0</span><sup style="font-size:20px;position:relative;top:-50px;">o</sup><sub style="position:relative;top:-5px;">C</sub></p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-5" style="background-color:rgba(0, 0, 0, 0.85);height:350px;">
        <div style="color:darkslateblue;font-weight:bold;position:relative;top:40px">
            <select id="Country" class="form-control form-control-lg" style="margin-bottom:10%;">
                <option>Select Country</option>
            </select>
            <select id="City" class="form-control form-control-lg">
                <option>Select City</option>
            </select>
        </div>


    </div>
</div>

